*, html, body {
    margin: 0;
    padding: 0;
    }

    @font-face {
        font-family: 'Strata';
        src: url('../fonts/Strata/Desktop/Strata.otf');
    }
    @font-face {
        font-family: 'Gilroy';
        src: url('../fonts/Gilroy/Gilroy-Regular.otf');
    }

    .top-bar {
    height: 38px;
    width: 100%;
    background-color: #005123;
    overflow: hidden;

    }

    .top-bar a {
    text-decoration: none;
    color: #fff;
    font-family: Strata;
    font-weight: 400;
    font-size: 12px;
    }
    .menu-item {
    float: left;
    }

    .top-bar-menu {
    list-style-type: none;
    }

    .top-bar-menu li {
    float: left;
    }

    .logo {
    background-color: #005123;
    }


    .logo img {
    height: 30px;
    width: 30px;
    display: block;
    padding: 4px 15px;

    }
    .menu-toggle {
        display: none;
        color: #fff;
        font-size: 26px;
        border-left: 1px solid #00692F;
        border-right: 1px solid #00692F;
        padding: 0px 10px;
        background-color: #005123;
        height: 100%;
    }
    .menu-bar {
    text-align: center;
    background-color: #005123;
    }

    .toggler a {

    }
    .toggler svg {
        float: right;
    }

    .menu-bar ul {
    list-style-type: none;
    margin: auto 0px;
    background-color: #005123;
    color: #fff;
    }

    .menu-bar li {
    text-align: center;
    float: left;
    padding: 8px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    font-family: Helvetica Neue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    .menu-bar li i {
    }

    .menu-bar li:first-child {

    }

    .drop-down-menu {
    font-size: 0;
    display:none;
    position: absolute;
    top: 38px;
    left: 60px;
    background-color: #fff !important;
    width: 400px;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    column-count: 2;
    }

    .drop-down-menu li {
    border: none !important;
    float: none;
    padding-left: 15px;
    padding-right: 15px;

    padding: 5px 15px;
    text-align: left;

    }



    .drop-down-menu li a {
    text-align: left;
    display: block;
    color: #000 !important;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 12.5px;
    padding: 5px 0px;
    }
    .team-listing img {
        height: 18px;
        width: 18px;
    }

    .drop-down-menu .team-img {
        float: left;
        margin-right: 15px;
    }

    .drop-down-menu li:nth-child(odd) {
        background-color: #F5F5F5;
    }

    .drop-down-menu .team-name {
        font-weight: normal;
        font-size: 14px;

    }

    .table {
        display: none;
        color: black;
        position: absolute;
        top: 38px;
        width: 300px;
        left: auto;
        border-collapse: collapse;
        border: 1px solid #E5E5E5;
        border-top: none;
    }

    .table tr:nth-child(even) {
        background-color: #F5F5F5;

    }
    .table td, th {
        padding: 5px;
        font-family: gilroy;
        font-size: 14px;
        text-align: center;
        border-bottom: none;
    }
    .table .header {
        border-bottom: 2px solid #E5E5E5;
    }

    .visible {
        display: table;
    }

    .table td:nth-child(2) {
        float: left;
        font-weight: normal;
    }


    .menu-bar:hover {
        display: block;
    }
    .team-toggler:hover .drop-down-menu {
        display: block;
    }


    .table a {
        color: black;
        font-family: Gilroy;
        font-size: 14px;
    }



    .sponsors {
    font-size: 16px;
    background-color: #005123;
    padding: 0px 15px;
    height: 100%;
    }
    .sponsors h2 {
        color: white;
        display: block;
        padding: 5px;
        font-family: Strata;
    }

    .sponsors img {
        height: 38px;
        width: auto;
    }

    .sponsors .svenskaspel {
        height: 30px;
        margin-top: 4px;
        width: auto;
    }

    .sponsors .opg {
        display: none;
        height: 30px;
        margin-top: 4px;
        width: auto;
    }

    .sponsors .vw {

    }

    .sponsors .select {
        display: none;
        height: 25px;
        margin-top: 6px;
        width: auto;
    }

    .display {
        display: block !important;
    }



    .sponsors .obos {
        height: 30px;
        margin-top: 4px;
        width: auto;
    }

    .fade {
        display: none;
    width: 50px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 81, 35,1), rgba(0, 81, 35,0.1));
    }

    .header-flow {
        background-image: url('../img/flow.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50px;
        max-width: 50%;
        min-width: 50%;
        position: relative;
        float: right;

    }
    @media screen and (max-width: 1300px) {
        .header-flow {
            display: none;
        }
        .fade {
            display: block;
            float: left;
            width: 150px;
        }
        .top-bar {
            background-image: url('../img/flow.png');
            background-size:cover;
            background-position: right;
            background-repeat: no-repeat;
        }
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }

    @media screen and (min-width: 600px) {
        .table-toggler:hover .table {
            display: table;
        }
    }

    @media screen and (max-width: 600px) {
        .expand {
            display: block !important;
        }

        .table-expand {
            display: table;
        }

        .fade {
            display: block;
            float: left;
            width: 150px;
        }

        .menu-toggle {
            display: block;
        }
        html {

        }
        .table {
            left: 5%;
            width: 90%;
            top: 42px;
        }

        .table td, th {
            padding: 4px;
        }
        .menu-bar {
            display: none;
            position: absolute;
            width: 100%;
            top: 38px;
            border-top: 1px solid #00692F;
            font-size: 10px;
        }



        .menu-bar li a {
            font-size: 11px;
        }
        .menu-bar li {
            padding: 8px 20px;
        }
        .drop-down-menu {
            left: 5%;
            top: 42px;
            width: 90%;
            padding: 0px;
        }
        .team-name {
            font-size: 12px;
        }

    }

    @media screen and (max-width: 400px) {
        .fade {
            display: block;
            float: left;
            width: 100px;
        }
        .menu-bar li {
            padding: 8px 15px !important;
        }
    }

    @media screen and (max-width: 325px) {
        .top-bar {
            background-image: none;
        }
        .menu-bar li {
            padding: 8px 10px !important;
        }

        .drop-down-menu li a {
            font-size: 10px;
        }
    }
